In [1]:
from  sklearn.feature_extraction.text import CountVectorizer

In [2]:
text=["Helllo hola hie hie","Hie Helllo hola hola"]

In [3]:
cv=CountVectorizer()

In [4]:
cm=cv.fit_transform(text)

In [5]:
cm

<2x3 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [6]:
print(cm)

  (0, 0)	1
  (0, 2)	1
  (0, 1)	2
  (1, 0)	1
  (1, 2)	2
  (1, 1)	1

In [7]:
cm.toarray()

array([[1, 2, 1],
       [1, 1, 2]], dtype=int64)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
ss=cosine_similarity(cm)

In [10]:
ss

array([[1.        , 0.83333333],
       [0.83333333, 1.        ]])

In [11]:
import numpy  as np

In [12]:
import pandas as pd

In [15]:
df=pd.read_csv("netflix_titles.csv")

In [16]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [17]:
df1=df.drop("show_id", axis=1)

In [18]:
df2=df1.drop("date_added" , axis=1)

In [19]:
df3=df2.drop("release_year", axis=1)

In [20]:
df4=df3.drop("description", axis=1)

In [23]:
df4.dropna()

,type,title,director,cast,country,rating,duration,listed_in
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",TV-PG,90 min,"Children & Family Movies, Comedies"
4,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,TV-14,99 min,Comedies
6,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers"
7,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,TV-MA,60 min,Stand-Up Comedy
9,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",R,90 min,"Action & Adventure, Thrillers"
...,...,...,...,...,...,...,...,...
6142,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,TV-PG,7 Seasons,"British TV Shows, Reality TV"
6158,TV Show,Miraculous: Tales of Ladybug & Cat Noir,Thomas Astruc,"Cristina Vee, Bryce Papenbrook, Keith Silverst...","France, South Korea, Japan",TV-Y7,4 Seasons,"Kids' TV, TV Action & Adventure"
6167,TV Show,Sacred Games,"Vikramaditya Motwane, Anurag Kashyap","Saif Ali Khan, Nawazuddin Siddiqui, Radhika Ap...","India, United States",TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas"
6182,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",South Korea,TV-14,4 Seasons,"International TV Shows, Korean TV Shows, Stand..."
6213,TV Show,Leyla and Mecnun,Onur Ünlü,"Ali Atay, Melis Birkan, Serkan Keskin, Ahmet M...",Turkey,TV-PG,3 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [24]:
df4.count

<bound method DataFrame.count of          type                                        title  \
0       Movie      Norm of the North: King Sized Adventure
1       Movie                   Jandino: Whatever it Takes
2     TV Show                           Transformers Prime
3     TV Show             Transformers: Robots in Disguise
4       Movie                                 #realityhigh
...       ...                                          ...
6229  TV Show                                 Red vs. Blue
6230  TV Show                                        Maron
6231    Movie       Little Baby Bum: Nursery Rhyme Friends
6232  TV Show  A Young Doctor's Notebook and Other Stories
6233  TV Show                                      Friends

                      director  \
0     Richard Finn, Tim Maltby
1                          NaN
2                          NaN
3                          NaN
4             Fernando Lebrija
...                        ...
6229                       NaN
6230                       NaN
6231                       NaN
6232                       NaN
6233                       NaN

                                                   cast  \
0     Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1                                      Jandino Asporaat
2     Peter Cullen, Sumalee Montano, Frank Welker, J...
3     Will Friedle, Darren Criss, Constance Zimmer, ...
4     Nesta Cooper, Kate Walsh, John Michael Higgins...
...                                                 ...
6229  Burnie Burns, Jason Saldaña, Gustavo Sorola, G...
6230  Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...
6231                                                NaN
6232  Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
6233  Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...

                                       country    rating    duration  \
0     United States, India, South Korea, China     TV-PG      90 min
1                               United Kingdom     TV-MA      94 min
2                                United States  TV-Y7-FV    1 Season
3                                United States     TV-Y7    1 Season
4                                United States     TV-14      99 min
...                                        ...       ...         ...
6229                             United States        NR  13 Seasons
6230                             United States     TV-MA   4 Seasons
6231                                       NaN       NaN      60 min
6232                            United Kingdom     TV-MA   2 Seasons
6233                             United States     TV-14  10 Seasons

                                              listed_in
0                    Children & Family Movies, Comedies
1                                       Stand-Up Comedy
2                                              Kids' TV
3                                              Kids' TV
4                                              Comedies
...                                                 ...
6229  TV Action & Adventure, TV Comedies, TV Sci-Fi ...
6230                                        TV Comedies
6231                                             Movies
6232           British TV Shows, TV Comedies, TV Dramas
6233                     Classic & Cult TV, TV Comedies

[6234 rows x 8 columns]>

In [25]:
def combine_features(row):
    return str(row['type'])+ " "+ str(row['director']) + " "+str(row['cast'])+ " "+ str(row['duration'])+ " "+ str(row['rating'])+" "+ str(row['listed_in'])

In [40]:
df4['cf'] = df4.apply(combine_features, axis=1)

In [41]:
df4.head()

,type,title,director,cast,country,rating,duration,listed_in,cf
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",TV-PG,90 min,"Children & Family Movies, Comedies","Movie Richard Finn, Tim Maltby Alan Marriott, ..."
1,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,TV-MA,94 min,Stand-Up Comedy,Movie nan Jandino Asporaat 94 min TV-MA Stand-...
2,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,TV-Y7-FV,1 Season,Kids' TV,"TV Show nan Peter Cullen, Sumalee Montano, Fra..."
3,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,TV-Y7,1 Season,Kids' TV,"TV Show nan Will Friedle, Darren Criss, Consta..."
4,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,TV-14,99 min,Comedies,"Movie Fernando Lebrija Nesta Cooper, Kate Wals..."

In [28]:
df5=df4.drop("type", axis=1)

In [29]:
df6=df5.drop("director",axis=1)

In [30]:
df7=df6.drop("cast",axis=1)

In [31]:
df8=df7.drop("country", axis=1)

In [32]:
df9=df8.drop("rating",axis=1)

In [33]:
df11=df9.drop("listed_in", axis=1)

In [34]:
df1=df11.drop("duration", axis=1)

In [42]:
df1

,title,cf
0,Norm of the North: King Sized Adventure,"Movie Richard Finn, Tim Maltby Alan Marriott, ..."
1,Jandino: Whatever it Takes,Movie nan Jandino Asporaat 94 min TV-MA Stand-...
2,Transformers Prime,"TV Show nan Peter Cullen, Sumalee Montano, Fra..."
3,Transformers: Robots in Disguise,"TV Show nan Will Friedle, Darren Criss, Consta..."
4,#realityhigh,"Movie Fernando Lebrija Nesta Cooper, Kate Wals..."
...,...,...
6229,Red vs. Blue,"TV Show nan Burnie Burns, Jason Saldaña, Gusta..."
6230,Maron,"TV Show nan Marc Maron, Judd Hirsch, Josh Bren..."
6231,Little Baby Bum: Nursery Rhyme Friends,Movie nan nan 60 min nan Movies
6232,A Young Doctor's Notebook and Other Stories,"TV Show nan Daniel Radcliffe, Jon Hamm, Adam G..."
6233,Friends,"TV Show nan Jennifer Aniston, Courteney Cox, L..."

In [43]:
cm=cv.fit_transform(df1["cf"])

In [44]:
inp="Hitch"

In [45]:
cs=cosine_similarity(cm)

In [46]:
cs

array([[1.        , 0.15289416, 0.1069045 , ..., 0.14064217, 0.16568337,
        0.19720266],
       [0.15289416, 1.        , 0.19069252, ..., 0.41812101, 0.29554023,
        0.25125945],
       [0.1069045 , 0.19069252, 1.        , ..., 0.1315587 , 0.37638633,
        0.36893239],
       ...,
       [0.14064217, 0.41812101, 0.1315587 , ..., 1.        , 0.11651035,
        0.13867505],
       [0.16568337, 0.29554023, 0.37638633, ..., 0.11651035, 1.        ,
        0.56011203],
       [0.19720266, 0.25125945, 0.36893239, ..., 0.13867505, 0.56011203,
        1.        ]])

In [54]:
def getindex(title):
    return df[df.title==title].index.values[0]

In [55]:
def gettit(i):
    return df[df.index==i]["title"].values[0]

In [56]:
mi=getindex(inp)

In [51]:
df1[df1.title=="Hitch"].index.values[0]

3522

In [53]:
df1[df1.index==3522]["title"].values[0]

'Hitch'

In [58]:
sm=list(enumerate(cs[mi]))

In [59]:
ssm=sorted(sm,key=lambda x:x[1], reverse=True)

In [60]:
i=0
for movie in ssm:
    print(gettit(movie[0]))
    i=i+1
    if i>50:
        break

Hitch
Seven Pounds
Yoga Hosers
Becoming Jane
Chasing Amy
Chadi Jawani Budhe Nu
She's Gotta Have It
Jay and Silent Bob Strike Back
Monster-in-Law
Kevin James: Never Don't Give Up
Heartbreakers
Forks Over Knives
Hotel Transylvania 3: Summer Vacation
The Hurt Business
As Good as It Gets
Holly Star
Christmas Wedding Planner
Logan's Run
Operation Chromite
The Bounty Hunter
Tremors 6: A Cold Day in Hell
Kate & Leopold
Penelope
The Good Catholic
'89
Doctor Zhivago
Small Soldiers
Mansfield Park
The Pursuit of Happyness
Stuart Little 2
The Outcasts
Sierra Burgess Is A Loser
Stuart Little
Don't Go Breaking My Heart
Okafor's Law
Monster House
Die Another Day
Something's Gotta Give
Men in Black
Men in Black II
Across the Universe
Rumor Has It
Generation Iron 2
The Look of Silence
Rodney King
Santo Cachón
Dare to Be Wild
Teenage Mutant Ninja Turtles
Pottersville
Leap Year
Black Panther