# Decission Tree Classifier

By: Drashti Patel

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

In [2]:
df=pd.read_csv('Iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.shape

(150, 6)

In [5]:
df['Species'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

In [6]:
from sklearn import preprocessing

In [7]:
l_e=preprocessing.LabelEncoder()

In [8]:
df['Species']=l_e.fit_transform(df['Species'])

In [9]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [10]:
df=df.drop('Id', axis=1)

In [25]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [27]:
df=df.sample(frac=1)

In [28]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
127            6.1           3.0            4.9           1.8        2
37             4.9           3.1            1.5           0.1        0
18             5.7           3.8            1.7           0.3        0
123            6.3           2.7            4.9           1.8        2
6              4.6           3.4            1.4           0.3        0
..             ...           ...            ...           ...      ...
83             6.0           2.7            5.1           1.6        1
116            6.5           3.0            5.5           1.8        2
47             4.6           3.2            1.4           0.2        0
134            6.1           2.6            5.6           1.4        2
148            6.2           3.4            5.4           2.3        2

[150 rows x 5 columns]

In [29]:
from sklearn.model_selection import train_test_split as tts
inputs=df.drop('Species',axis='columns')
output=df['Species']

In [30]:
X_train,X_test,y_train,y_test=tts(inputs,output,test_size=0.2,random_state=0)

In [31]:
from sklearn import tree
c=tree.DecisionTreeClassifier()
c.fit(X_train,y_train)
c.score(X_test,y_test)

0.9666666666666667

In [32]:
from sklearn import metrics

In [33]:
p=c.predict(X_test)

In [34]:
metrics.confusion_matrix(y_test,p)

array([[14,  0,  0],
       [ 0, 12,  1],
       [ 0,  0,  3]], dtype=int64)

In [35]:

from sklearn.metrics import classification_report 
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split

In [36]:
classification_report (y_test,p)

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00        14\n           1       1.00      0.92      0.96        13\n           2       0.75      1.00      0.86         3\n\n    accuracy                           0.97        30\n   macro avg       0.92      0.97      0.94        30\nweighted avg       0.97      0.97      0.97        30\n'

In [37]:
accuracy_score(y_test,p)

0.9666666666666667